<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>管理系统</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <#include "/common/common_css.html"/>
    </head>
    <body class="skin-blue">
        <#include "/common/header.html"/>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <#include "/common/left.html"/>
            <aside class="right-side">
            	<iframe id="contentFrame" width="100%" height="50%" frameborder="0"></iframe>
            </aside>
        </div>
    </body>
    <#include "/common/common_js.html"/>
        <script type="text/javascript">
        	$(function(){
		        var frameSrc = $(this).attr("/other/user")
		        $("#contentFrame").attr("src", frameSrc)
			});
        </script>
</html>